<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        .p, p {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
            margin: 0pt;
        }

        .s1 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
            vertical-align: -1pt;
        }

        .s2 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
        }

        .s3 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 10pt;
        }

        .s4 {
            color: black;
            font-family: "Arial Narrow", sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 10pt;
        }

        .s5 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
            vertical-align: 3pt;
        }

        .s6 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 10pt;
        }

        table, tbody {
            vertical-align: top;
            overflow: visible;
        }
    </style>
</head>
<body>
    <div style="position: absolute; left: 25%; top: 11%; display: grid;">
        <h3 style="align-content:center; margin-left: 15%;">LATUR DISTRICT CENTRAL CO-OPERATIVE BANK LTD</h3><br />
        <h4 style="align-content: center; margin-left: 40%;"> HANDARGULI</h4>
        <h5 style="align-content: center; margin-left: 21%; margin-top: 13px;">AT POST HANDERGULI TQ UDGIR DIST LATUR HANDI 413518</h5><br />
        <table>
           <tr style="margin-top:20px">
               <td>
                   <p class="s1" style="padding-top: 4pt; padding-left: 5pt; text-indent: 0pt; line-height: 11pt; text-align: left;"><span class="p">Account Number :107311002001299</span></p>
                   <p class="s1" style="padding-top: 4pt; padding-left: 5pt; text-indent: 0pt; line-height: 11pt; text-align: left;"><span class="p">Address :AT. POST. KINI YALLADEVI TQ. U</span></p>
                   <p style="padding-top: 5pt; padding-left: -11pt; text-indent: 0pt; text-align: left;">DGIR DIST LATUR HANDI 413518</p>
               </td>
               <td>
                   <p style="padding-left: 52pt; text-indent: 0pt; text-align: left;">Scheme : INDIVIDUAL SAVING</p>
                   <p style="padding-left: 65pt; text-indent: -11pt; line-height: 130%; text-align: left;">New A/c No. 509008954460</p>
                   <p style="padding-left: 65pt; text-indent: -11pt; line-height: 130%; text-align: left;">A/c Status : Active</p>
               </td>
           </tr>
        </table>
        <p style="text-indent: 0pt; text-align: left;"><br /></p>
        <table style="border-collapse:collapse" cellspacing="0">
            <tr style="height:19pt">
                <td style="width:55pt; border-bottom-style:solid; border-bottom-width:1pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:261pt; border-bottom-style:solid; border-bottom-width:1pt">
                    <p class="s2" style="padding-left: 46pt; text-indent: 0pt; text-align: left;">Account Statement From 01-01-2023 To</p>
                </td>
                <td style="width:90pt; border-bottom-style:solid; border-bottom-width:1pt">
                    <p class="s2" style="padding-left: 3pt; text-indent: 0pt; text-align: left;">22-12-2023</p>
                </td>
                <td style="width:175pt; border-bottom-style:solid; border-bottom-width:1pt" colspan="2">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
            </tr>
            <tr style="height:17pt">
                <td style="width:55pt; border-bottom-style:solid; border-bottom-width:1pt">
                    <p style="text-indent: 0pt; text-align: left;"></p>
                    <p class="s2" style="padding-top: 1pt; padding-left: 8pt; text-indent: 0pt; line-height: 14pt; text-align: left;">Date</p>
                </td>
                <td style="width:261pt; border-bottom-style:solid; border-bottom-width:1pt">
                    <p class="s2" style="padding-left: 16pt; text-indent: 0pt; line-height: 14pt; text-align: left;">Txn Type Particulars Chq. No.</p>
                </td>
                <td style="width:90pt; border-bottom-style:solid; border-bottom-width:1pt">
                    <p class="s2" style="padding-right: 16pt; text-indent: 0pt; line-height: 14pt; text-align: right;">Withdrawal</p>
                </td>
                <td style="width:80pt; border-bottom-style:solid; border-bottom-width:1pt">
                    <p class="s2" style="padding-left: 16pt; text-indent: 0pt; text-align: left;">Deposit</p>
                </td>
                <td style="width:95pt; border-bottom-style:solid; border-bottom-width:1pt">
                    <p class="s2" style="padding-left: 16pt; text-indent: 0pt; text-align: left;">Balance</p>
                </td>
            </tr>
            <tr style="height:17pt">
                <td style="width:55pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:261pt">
                    <p class="s2" style="padding-left: 22pt; text-indent: 0pt; text-align: left;">Opening Balance</p>
                </td>
                <td style="width:90pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 3pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">80.00CR</p>
                </td>
            </tr>
            <tr style="height:26pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">13-01-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">HPCL LPG SUBSIDY P012301E</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00D9B</p>
                </td>
                <td style="width:90pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:80pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 16pt; text-indent: 0pt; text-align: right;">8.05</p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">88.05CR</p>
                </td>
            </tr>
            <tr style="height:25pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">10-02-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00340462-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T463275</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">100.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">11.95CR</p>
                </td>
            </tr>
            <tr style="height:24pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">16-02-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00341478-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T586525</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">50.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">61.95CR</p>
                </td>
            </tr>
            <tr style="height:27pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">16-03-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00342442-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T734495</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">60.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">1.95CR</p>
                </td>
            </tr>
            <tr style="height:26pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">17-03-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00342928-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T734495</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">60.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">1.95CR</p>
                </td>
            </tr>
            <tr style="height:23pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">01-04-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T734495</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">60.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">1.95CR</p>
                </td>
            </tr>
            <tr style="height:23pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">02-04-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T734495</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">60.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">1.95CR</p>
                </td>
            </tr>
            <tr style="height:23pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">02-05-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00348190-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T827450</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">50.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">51.95CR</p>
                </td>
            </tr>
            <tr style="height:24pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">15-05-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00350505-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T982350</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">100.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">151.95CR</p>
                </td>
            </tr>
            <tr style="height:23pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">17-06-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00352928-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T734495</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">60.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">91.95CR</p>
                </td>
            </tr>
            <tr style="height:27pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">18-06-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00352928-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T734495</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">60.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">91.95CR</p>
                </td>
            </tr>
            <tr style="height:24pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">03-07-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00358015-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T000001</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">75.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">166.95CR</p>
                </td>
            </tr>
            <tr style="height:24pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">15-07-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00358840-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T109900</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">100.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">266.95CR</p>
                </td>
            </tr>
            <tr style="height:25pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">10-08-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00360462-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T463275</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">100.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">366.95CR</p>
                </td>
            </tr>
            <tr style="height:23pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">16-09-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00361478-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T586525</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">100.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">466.95CR</p>
                </td>
            </tr>
            <tr style="height:23pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">16-10-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00362442-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T734495</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">100.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">566.95CR</p>
                </td>
            </tr>
            <tr style="height:24pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">17-10-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00362928-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T734495</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">100.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">666.95CR</p>
                </td>
            </tr>
            <tr style="height:25pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">16-11-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00363890-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T109900</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">100.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">766.95CR</p>
                </td>
            </tr>
            <tr style="height:23pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">01-12-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00364180-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T734495</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">100.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">866.95CR</p>
                </td>
            </tr>
            <tr style="height:24pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">01-12-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00364180-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T734495</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">100.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">966.95CR</p>
                </td>
            </tr>
            <tr style="height:25pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">12-12-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00364388-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T586525</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">100.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">1066.95CR</p>
                </td>
            </tr>
            <tr style="height:25pt">
                <td style="width:55pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 2pt; text-indent: 0pt; text-align: left;">14-12-2023</p>
                </td>
                <td style="width:261pt">
                    <p class="s4" style="padding-top: 2pt; padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">BC00364948-DEPOSIT-TRFR</p>
                    <p class="s3" style="padding-left: 10pt; text-indent: 0pt; line-height: 11pt; text-align: left;">00T586525</p>
                </td>
                <td style="width:90pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 21pt; text-indent: 0pt; text-align: right;">50.00</p>
                </td>
                <td style="width:80pt">
                    <p style="text-indent: 0pt; text-align: left;"><br /></p>
                </td>
                <td style="width:95pt">
                    <p class="s3" style="padding-top: 1pt; padding-right: 19pt; text-indent: 0pt; text-align: right;">1116.95CR</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>